
<h1><%= @user.name %>のページ</h1>
</p>

 <h3>あなたのお気に入り投稿</h3><br>
 <div class="favrites">
  <% @favorite_funastars.each do |funastar| %>
  <table>
    <tr>
      <p><%= funastar.caption %></p>
      <p><%= image_tag funastar.image %></p>

    </tr>
  </table>
   <% end %>
   <%= link_to "topにもどる", funastars_path %>
</div>
